<div class="container">
  <form #myForm="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Full Name</label>
      <input type="email" class="form-control" name="name" aria-describedby="emailHelp" [(ngModel)]="userObj.name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Mobile Number</label>
      <input type="email" class="form-control" name="mobile" aria-describedby="emailHelp" [(ngModel)]="userObj.mobile">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" name="email" aria-describedby="emailHelp" [(ngModel)]="userObj.email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="userObj.password">
    </div>

    <button type="button" class="btn btn-primary" (click)="addUser(myForm.value)" *ngIf="!isEdit">Submit</button>
    <button type="button" class="btn btn-info" *ngIf="isEdit" (click)="updateUser()">Update</button>
  </form>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Full Name</th>
        <th scope="col">Mobile</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
   <tr *ngFor="let user of allUser">
     <td>{{user.name}}</td>
     <td>{{user.mobile}}</td>
     <td>{{user.email}}</td>
     <td>{{user.password}}</td>
     <td><button (click)="editUser(user)" class="btn btn-warning">Edit</button></td>
     <td><button (click)="deleteUser(user)" class="btn btn-danger">Delete</button></td>
   </tr>
    </tbody>
  </table>
</div>